.title{
    text-align: center;
    margin: 120px 0 30px 0;
}

.title p{
    color: #212EA0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.title h2{
    font-size: 32px;
    color: #000F38;
    margin-top: 5px;
    text-transform: none;
}